{
  "presets": [
    "es2015",
    "es2017",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        ["strip-function-call", {
          "strip": [
            "log.debug",
            "log.info",
            "log.error"
          ]
        }]
      ]
    }
  }
}
